{{!-- setup to have the template that handlebars can render onto --}}
{{!-- create button that will submit user input into database --}}

<h1>burger test</h1>

<ul>
    {{#each burgers}}
        <li>{{burger_name}}</li>
    {{/each}}
</ul>
